.App {
  height: 100%;
  width: 100%;
}

.App::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./Assests/Images/Background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; 
}

.App-header {
  text-align: center;
  padding: 20px;
  color: black;
  flex-shrink: 0;
}

